<li
  class="list-group-item"
>
  <div class="container-fluid">
    <div class="row">
      <div class="col d-flex align-items-center justify-content-center">
        <div class="custom-control custom-switch">
          <input name="checkbox" type="checkbox" class="custom-control-input" [id]="'done' + todo.id" [(ngModel)]="todo.done" (change)="onCheck()">
          <label class="custom-control-label" [for]="'done' + todo.id"></label>
        </div>
      </div>

      <div class="col-6 d-flex align-items-center">
          <p class="mb-0">{{todo.text}}</p>
      </div>

      <div class="col">
        <p class="mb-0">{{todo.date}}</p>
      </div>

      <div class="col">
        <button type="button" class="btn btn-danger w-100" (click)="onDelete()">Delete</button>
      </div>
    </div>
  </div>
</li>
