<form>
  <div class="row">
    <div class="col-8">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="What needs to be done?">
        <div class="input-group-append">
          <button class="btn btn-outline-primary" type="button">Submit</button>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="form-group">
        <button class="btn btn-primary w-100" type="button">Load data</button>
      </div>
    </div>
  </div>
</form>
